H1{
	color:gold;
	padding-top:10px;
	text-align:center;
	font-family:Arial;
}
H4{
	color:white;
	text-align:center;
	font-family:Arial;
}
P{
	color:white;
	text-align:center;
	font-family:Times New Roman;
	font-size:medium;
	font-style:normal;
	font-weight:lighter;
}
